@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ankara Büyükşehir Belediyesi Özel Eğitim Birimi</h1>
    <p>Detaylı bilgi için <a href="https://www.ankara.bel.tr/">buraya tıklayınız.</a>.</p>
</div>
